body {
    background-color: #f4fbf3;
    color: #3e4a3d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    margin: 0;
}

a {
    color: #2a64bd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #a1af9f;
}

h1 {
    font-size: 24pt;
    margin: 0.5em 0;
}

h2 {
    font-size: 20pt;
    margin: 0.5em 0;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14pt;
    margin: 0.5em 0;
}

h5 {
    font-size: 12pt;
}

input {
    height: 2em;
    padding: 0 1em;
    border-radius: 5px;
    border-width: 1px;
    border-color: #3e4a3d;
}

label {
    font-size: 14pt;
}

p {
    font-size: 14px;
    color: #3e4a3d;
}