/*
Color reference:

#2a64bd (Second Nature blue)
Used to links and logos.

#3e4a3d (Dark Green)
Used for text.

#a1af9f (Desaturated Dark Green)
Used for visited links, borders, and drop shadows.

#f4fbf3 (Very Light Green)
Used for background color and approved time off requests.

#ff4848 (Saturated coral)
Used for deny button.

rgba(30, 155, 30, 0.75) (Saturated green)
Used for approval button.

#fdd4be (Desaturated coral)
Used for denied time off requests.
*/

body {
    background-color: #f4fbf3;
    color: #3e4a3d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    margin: 0;
}

a {
    color: #2a64bd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.clickable-label:hover {
    text-decoration: underline;
}
.clickable-label {
    color: #2a64bd;
    text-decoration: none;
}

.clickable-label:visited {
    color: #a1af9f;
}

a:visited {
    color: #a1af9f;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-size: 24pt;
    margin: 0;
}

h2 {
    font-size: 20pt;
    margin: 0.5em 0;
}

h3 {
    font-size: 16pt;
    margin: 0.5em 0;
}

h4 {
    font-size: 14pt;
    margin: 0.5em 0;
}

h5 {
    font-size: 10pt;
    margin: 0.5em 0;
    font-weight: normal;
}

input {
    height: 2em;
    padding: 0 0.5em;
    border-radius: 5px;
    border-width: 1px;
    border-color: #3e4a3d;
}

label {
    font-size: 14pt;
}

p {
    font-size: 14pt;
    color: #3e4a3d;
    margin: 0.5em 0;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.document-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: -2px 2px 4px #a1af9f;
    box-sizing: border-box;
}

.form-input-group {
    margin: 0.5em 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.large-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #a1af9f;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    align-content: space-between;
    justify-content: space-between;
    box-shadow: -2px 2px 4px #a1af9f;
    box-sizing: border-box;
}

.menu-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin: 20px 0;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    border: 1px solid #a1af9f;
    width: 130px;
    height: 130px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: -2px 2px 4px #a1af9f;
}

.menu-icon img {
    width: 70px;
}

.review-container {
    background-color: white;
    border: 1px solid #a1af9f;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.small-container {
    background-color: white;
    border: 1px solid #a1af9f;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    box-shadow: -2px 2px 4px #a1af9f;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
}

.small-font {
    font-size: 10pt;
}